
.content-con {
    display: flex;
    justify-content: space-between;
}
.content-con:first-child, .content-con:last-child {
    padding: 5rem 0;
}
.content-l img {
    position: absolute;
    margin: 0 auto;
    width: 30vw;
    height: 50vh;
    border-radius: 50px;
    left: 800px;
    top: 700px;
}
.content-r {
    position: absolute;
    margin: 0 auto;
    text-align: justify; /* จัดตำแหน่งข้อความที่มุมขวา */
    float: justify;
    top: 700px;
}

@media screen and (max-width: 480px) {
    .content-con {
        flex-direction: column;
    }
    .content-con:nth-child(2) .content-r {
        order: 1;
    }
}