.header{
    background-color: rgb(252, 0, 0);
    height: 70px;
   
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header-con {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.logo-container {
   transform: translateY(10px);
    height: 40px;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    
}
.menu li {
    padding-right: 4rem;
    margin-top: 1rem;
}
.menu li a {
    text-decoration: none;
    color: #000000;
}

.button  {
    display: inline-block;
    border-radius: 100px;
    border: 2px solid #5f0096;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #5f0096;
    text-align: center;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {

    .header {
        padding: 0 2rem;
    }
    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 64px;
        left: -100%;
        opacity: 0;
        transition: 0.5s ease;
       
    }
    .menu.active {
        background: #111;
        left: 0;
        opacity: 1;
        z-index: 1;
        padding-left: 0;
        align-content: center;
        transition: 0.5s ease;
    }
    .menu li {
        padding-right: 0 ;
    }
    .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .content-con {
        flex-direction: column;
    }
    .content-con:nth-child(2) .content-r {
        order: 1;
    }
}