.signin {
    max-width: 100vw;
    margin: 0 auto;
    background-color: rgb(78, 104, 252) ;
}
.signin-con {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    background-color: rgb(252, 78, 229) ;
    
}
.signin-con:first-child, .signin-con:last-child {
    padding: 5rem 0;
}
.signin-l img {
    max-width: 20vw;
    border-radius: 10px;
}
.signin-r {
    padding: 2rem;
    text-align: left;
}



@media screen and (max-width: 480px) {
    .signin-con {
        flex-direction: column;
    }

}